@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



html {
  background-color: #ffffff;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* ลบสี default ของ browser */
a {
  color: inherit;
  text-decoration: none;
}

/* ลบ focus outline สีน้ำเงิน */
*:focus {
  outline: none;
}

/* กำหนดสี selection */
::selection {
  background-color: #e5e7eb;
  color: #111827;
}
